.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background: rgb(251, 251, 143);
}

li {
  list-style: none;
}

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Container > li {
  border: 2px solid #cccc;
  margin: 0.5rem;
  padding: 0.5rem;
}

.Container > li h2 {
  color: rgb(236, 13, 236);
}

.skills {
  display: flex;
}

.skills > li {
  margin: 0.2rem;
  padding: 0.2rem;
}
